<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.campus_share.mapper.PostMapper">
    
    <select id="searchPosts" resultType="com.example.campus_share.entity.Post">
        SELECT *
        FROM t_post
        WHERE status = 0
        AND (
            title LIKE CONCAT('%', #{keyword}, '%')
            OR content LIKE CONCAT('%', #{keyword}, '%')
        )
        ORDER BY create_time DESC
    </select>
    
</mapper> 